					{% extends "base.html" %}
					{% block page_title %}Page Not Found{% endblock page_title %}
					{% block content %}
					<h1 class="text-body-emphasis">Page Not Found</h1>
					<p class="col-lg-8 mx-auto fs-5">
						The page you sought could not be found.
					</p>
					<p class="col-lg-8 mx-auto text-muted">
						Visit the <a href="{{ library_url }}">library website</a> or search the library catalog, <a href="{{ catalog_url }}">OneSearch</a>. You may find what you seek there.
					</p>
					{% endblock content %}